[mysqld]
port = 3306
user = root
datadir = /mysql/data
socket  = /mysql/mysql.sock
log-bin = /mysql/mysql-bin
#innodb_data_file_path = /mysql/data/ibdata1:10M:autoexten
innodb_file_per_table = ON

[client]
port = 3306
socket  = /mysql/mysql.sock
